/* Style for background */
body {
    background-color: blanchedalmond;
    background-size: cover;
}

/* Style for food pictures */
.foodimg img{
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;

}


.food-head{
    text-align: center;
    color: black;
    font-size: 100px;
    margin-top: -5px;
    
}